cmake
absl-py
astor
certifi
dlib
gast
google-pasta
grpcio
h5py
imutils
Keras-Applications
Keras-Preprocessing
Markdown
mock
mtcnn
numpy
onnx
onnx-tf
onnxruntime
opencv-python
opt-einsum
protobuf
PyYAML
six
tensorboard
tensorflow
tensorflow-estimator
termcolor
typing-extensions
Werkzeug
wincertstore
wrapt
